<div class="container">

  <div class="row shadow-sm bg-light">
    <div class="col-sm border-bottom pt-3">

      <div class="nav nav-tabs border-bottom-0" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
      </div>

    </div>

    <div class="col-sm border-bottom pt-3">
      <a class="nav-item nav-link" id="nav-side-tab" data-toggle="hide" href="#nav-side" role="tab" aria-controls="nav-side" aria-selected="false"><i class="fa fa-angle-double-left text-warning"></i></a>
    </div>

  </div>

  <div class="row">

    <div id="nav-side" class="col-sm p-3 shadow-sm bg-light" style="min-height: 90vh;">
      Side...
    </div>

    <div class="col-sm-9 p-3 shadow-sm bg-white" style="min-height: 90vh;">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">Qwerty</div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Asdfgh</div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Zxcvbn</div>
      </div>
    </div>

  </div>

  <div class="row shadow-sm bg-light">
    <div class="col-sm py-1 px-3 small">
    Status
    </div>
  </div>

</div>
